/*#list {
  width:500px;
  font-size: 16px;
  color:#333333;
  background:#FFF;
  padding:20px;
}
#list p {
  list-style-type : none;
  padding:5px 10px;
  border-bottom:1px solid #84b2e0;
}
#list p:first-child{
  border-top:0px;
}
#list p:last-child{
  border-bottom:0px;
}*/
h2{
    border:solid 1px #ddd;
  -moz-border-radius: 5px; /* FF */
  -webkit-border-radius: 5px;/* Webkit */
  border-radius: 5px;
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background: -moz-linear-gradient(top,  #fff,  #eee);
    padding: 5px;
  -pie-background:linear-gradient(top,  #fff,  #eee);
  behavior: url(http://www.webcreatorbox.com/sample/images/PIE.htc);  /* ie */
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;
}
h2 span {
  border-left:5px #3cf solid;
  padding-left:10px;
}
#list {
  border: 1px solid #ccc;
  padding: 0;
  border-bottom: 0 none;
  width: 300px;
}
p {
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  list-style-image:none;
  background: -moz-linear-gradient(top,  #eee,  #ddd);
  -pie-background:linear-gradient(top,  #eee,  #ddd);
  behavior: url(http://www.webcreatorbox.com/sample/images/PIE.htc);  /* ie */
    padding: 5px;
    border-bottom: 1px #ccc solid;
    border-top: 1px #fff solid;
    list-style: inside square;
    margin:0;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Meiryo,"メイリオ",Helvetica,Sans-Serif;
};